
/* ---------- TIMER ---------- */
#countdown
{
	 margin-top:8px;
	 margin-left:50px;
}
ul#countdown li
 {
  cursor:pointer;
  display: inline-block;
  width: 50px;
  height:40px;
  text-align: center;
  padding-top:10px;
  margin:3px;
  BACKGROUND:url(../img/bg.png);
  border-radius:50px;
  box-shadow:5px 3px 1px #000;
  -webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}
ul#countdown li:hover
	{
	
	box-shadow:0px 7px 5px #000;
   }

#countdown li
{

}
ul#countdown li span {

font-size:25px;
font-weight: bold;
color: WHITE;
}
ul#countdown li span:hover 
{
}
ul#countdown li span::before {

}
ul#countdown li p.timeRefDays,
ul#countdown li p.timeRefHours,
ul#countdown li p.timeRefMinutes,
ul#countdown li p.timeRefSeconds {
 
  color: white;
  font-weight:bold;
  margin-top:20px;
  font-size:15px;
  text-align:center;
  text-shadow:1px 2px 3px black;
  }
