
@font-face 
{
	font-family:"Open Sans Condensed Light";
	src:url("../fonts/Open_Sans_Condensed_Light/OpenSans-CondLight.eot?") format("eot"),
	url("../fonts/Open_Sans_Condensed_Light/OpenSans-CondLight.woff") format("woff"),
	url("../fonts/Open_Sans_Condensed_Light/OpenSans-CondLight.ttf") format("truetype"),
	url("../fonts/Open_Sans_Condensed_Light/OpenSans-CondLight.svg#OpenSans-CondensedLight") 
	format("svg");font-weight:normal;font-style:normal;	
}

#alter_id
{
width:90%;
padding:0px;
text-align:justify;
}
#regboxer
{
color:white;
font-size:20px;
}
#regboxer input
{
border-radius:0px;
}
#removemar
{
margin:0px;
padding:0px;
}
#namerofexhi
{
letter-spacing:1px;

}
#trialboxforcad
{
background:url(../img/bg.png);
background-size:cover;
width:310px;
float:left;
height:100px;
border-radius:10px;
margin-right:5px;
padding-top:5px;
}
#stopdot
{
list-style:none;
}
#downloadxhaust
{
position:relative;
top:-100px;
left:-370px;
	
}
#play
{
position:relative;
top:250px;
left:-140px;
color:white;
font-size:28px;
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}
#play:hover
{

color:black;
text-shadow:1px 1px 1px white;
}
#downloadxhaust a
{
color:white;
text-decoration:none;
font-size:30px;
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;

}
#downloadxhaust a:hover
{
color:black;
text-shadow:1px 1px 1px white;
}
#getmeto
{
text-align:center;
font-size:20px;
font-style:bold;

}
#eventdetailnamertag
{
font-size:22px;
color:white;
font-style:bold;

}
#boxofdetailcontact
{
color:white;
font-size:20px;
float:left;
}
#mod
{
list-style:none;background:url(../img/bg.png);background-size:cover;padding:10px; width:250px; height:70px;float:left;margin:30px;text-align:center;
}
#mod a
{
text-decoration:none;
}
#xhaust
{

width:100px;
height:40px;
float:right;
margin-right:50px;
margin-top:3px;
cursor:pointer;
}
#boxofmp3
{
width:500px;
position: relative;
top: -400px;
left: 400px;
text-align: justify;
font-size:19px;
}
#loader
{
	position:absolute;
	top:30%;
	left:40%;
	color:white;
	font-size:30px;
	padding:22px;
	font-weight:bold;
	text-align:center;
}
#loader2
{
	position:absolute;
	top:40%;
	left:40%;
}
#theme
{
position:relative;
margin-top:-30px;
left:950px;
cursor:pointer;
}

/***************************************************************************
************************SOCIAL NETWORKING CSS STARTSS***********************
***************************************************************************/

#social
{

width:50px;
height:160px;
position:fixed;
top:300px;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 15px;
border-top-left-radius: 0px;
border-top-right-radius: 15px;
left:0px;
padding:10px;
z-index:1100000;

}
#social img
{
margin-top:5px;
}
/***************************************************************************
************************SOCIAL NETWORKING CSS ENDSSS***********************
***************************************************************************/

#t2-home
{
position:absolute;
top:5px;
left:2px;
cursor:pointer;
}
body
{
	background:url(../img/back.jpg);
	background-size:cover;
	font-family:"Open Sans Condensed Light";
	margin:0px;
	
	
}

.center
{
	margin-left:auto;
	margin-right:auto;
}

header
{
	width: 90%;
	max-width: 1400px;
	min-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	height:200px;
	border-bottom:1px solid white;
	

}

#headerright
{
	width:600px;
	height:200px;
	overflow:hidden;
	float:left;
	
}
#titlesponsers
{
	width:600px;
	height:70px;
}
#titlesponsers a
{
	margin-left:10px;
}
#titlesponsers img
{
	
}
#titleprajwalan
{
	width:600px;
	height:130px;
	overflow:hidden;
}
#headerleft
{
	width:400px;
	height:200px;
	float:right;
}

content
{
	width:100%;
	height:600px;
}
#container
{
	width:1000px;
	height:600px;
	overflow:hidden;
	
}
#box1
{	
	width:1000px;
	height:600px;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	
	
}

#box2
{	
	position:relative;
	top:-600px;
	left:1000px;
	width:1000px;
	height:600px;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	
}

#box3
{	
	width:1000px;
	height:600px;
	position:relative;
	top:-600px;
	left:0px;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}


.box1
{
	transform: translate(-1000px,0);
	-webkit-transform: translate(-1000px,0);
	-o-transform: translate(-1000px,0); 
	-moz-transform: translate(-1000px,0);

}
.box2
{
	transform: translate(-1000px,0);
	-webkit-transform: translate(-1000px,0);
	-o-transform: translate(-1000px,0); 
	-moz-transform: translate(-1000px,0);

}
.box3
{
	transform: translate(-1000px,-600px);
	-webkit-transform: translate(-1000px,-600px);
	-o-transform: translate(-1000px,-600px); 
	-moz-transform: translate(-1000px,-600px);

}
.box4
{
	transform: translate(0px,-600px);
	-webkit-transform: translate(0px,-600px);
	-o-transform: translate(0px,-600px); 
	-moz-transform: translate(0px,-600px);

}
#realhover
{
padding:0px;
margin:0px;
width:100%;
height:430px;
background-color:yellow;
}
#blank_div1
{
width:100%;
height:60px;
}
#blank_div2
{
width:100%;
height:75px;
}
#rhombus1
{
display:black;
width:100px;
height:100px;
POSITION:RELATIVE;
margin:30px;
LEFT:400px;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-o-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
background-color:red;
}
#rhombus2
{
display:black;
width:100px;
height:100px;
POSITION:RELATIVE;
margin:30px;
LEFT:317px;
top:-47px;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-o-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
background-color:red;
}
#rhombus3
{
display:black;
width:100px;
height:100px;
POSITION:RELATIVE;
margin:30px;
left:483px;
top:-180px;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-o-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
background-color:red;
}
#rhombus4
{
display:black;
width:100px;
height:100px;
POSITION:RELATIVE;
margin:30px;
left:400px;
top:-227px;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-o-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
background-color:red;
}
#bbox2
{
	width:100%;
	height:510px;
}
#emailus
{
	letter-spacing:1px;
}
#tryeffect
{
	width:100%;
	height:510px;
}
#bbox3
{
	position:relative;
	width:100%;
	height:510px;
}
#maineffect
{

 width:1000px;
 height:350px;
 overflow:hidden;
}
#maineffect li
{
	cursor:pointer;
}

#updatebox
{
width:880px;
height:30px;
border-radius:30px;
border-bottom:1px solid white;
box-shadow:1px 3px 5px gray;
float:left;
margin-top:-45px;
}
#updatename
{
padding-TOP:6px;
font-weight:bold;
padding-left:10px;
color:white;
text-shadow:1px 3px 5px gray;
letter-spacing:0.09em;
}
#typer
{
text-transform: uppercase;
margin-TOP:-20px;
margin-left:90px;
color:white;
text-shadow:1px 3px 5px gray;
letter-spacing:0.09em;
}


/***************************************************************************
************************CONTACT US CSS STARTSSSSSSSSSS*********************
***************************************************************************/

#contactcontainer
{
width:1000px;
height:520px;
padding-right:10px;
padding-top:3px;
padding-left:10px;
text-align:center;
border-radius:5px;
font-size:18px;
color:black;

}

#contactbox
{
width:990px;
height:500px;
overflow:auto;
text-align:left;
}

#contactbox hr
{
margin:0px;
padding:0px;
COLOR:#000;
}
#hide
{
opacity:0;

border:0px solid white;
}
#contactbox b
{
font-size:29px;
}
#contactbox table
{
margin-top:5px;
width:990px;
height:150px;
}
#contactbox td
{
BORDER-RADIUS:5PX;
padding:10px;
width:460px;
height:150px;
overflow:hidden;
background-color:#ccc;
border:3px solid white;
}

/***************************************************************************
************************CONTACT US CSS ENDSSSSS*****************************
***************************************************************************/



/***************************************************************************
****************************G2LC CSS STARSSS********************************
***************************************************************************/


#g2lccontainer
{
width:1000px;
height:600px;
padding-right:10px;
padding-top:3px;
padding-left:10px;
text-align:center;
border-radius:5px;
font-size:18px;
color:black;

}
#g2lcbox b
{
font-size:29px;

}
#g2lcbox
{
width:1000px;
height:530px;
overflow:auto;
text-align:justify;
}
#g2lcbox img
{
margin:5px;
}
#g2lcbox hr
{
margin:0px;
padding:0px;
COLOR:#000;
}
#g2lcbox
{
TEXT-ALIGN:JUSTIFY;
}
/***************************************************************************
****************************G2LC CSS ENDDSSS********************************
***************************************************************************/



/***************************************************************************
************************SPONSERS CSS STARSSS********************************
***************************************************************************/
#sponsercontainer
{
width:980px;
height:500px;
color:white;
background:url(../img/bg.png);
background-size:cover;
padding-right:10px;
padding-top:3px;
padding-left:10px;
text-align:center;
border-radius:5px;
font-size:18px;
opacity:1;
}

#themecontainer
{
width:980px;
height:500px;
color:white;
background:url(../img/bg.png);
background-size:cover;
padding-right:10px;
padding-top:3px;
padding-left:10px;
text-align:center;
border-radius:5px;
font-size:18px;
opacity:1;
}
.title-2
{
font-size:35px;
letter-spacing:1.2px;
margin:0px;
padding:0px;
}
#sponserbox
{
width:990px;
height:430px;
overflow:auto;
text-align:left;
color:white;
text-align:justify;

}

#container_events
{
background-color:white;
width:210px;
height:185px;
overflow:hidden;
cursor:pointer;
margin:3px;
}
#eventimg
{

}
.ani
{
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;


}
#container_events:hover .ani
{
	transform: translate(0px,-160px);
	-webkit-transform: translate(0px,-160px);
	-o-transform: translate(0px,-160px); 
	-moz-transform: translate(0px,-160px);
}
#eventbox
{
width:980px;
height:430px;
text-align:left;
color:white;
overflow:auto;
text-align:justify;

}
#mod1
{
display:block;
height:auto;
float:left;
margin-top:20px;
}
#mod2
{
display:block;
height:auto;
float:right;}
#regform
{
color:white;
}
#hscrollerdiv
{
width:3540px;
height:420px;
overflow:hidden;
}
#paradigm
{
position:relative;
top:-625px;
left:720px;
}

#coding
{
position:relative;
top:-1035px;
left:1200px;
}
#amusement
{
position:relative;
top:-1440px;
left:1880px;
}
#surpass
{
position:relative;
top:-1850px;
left:2350px;
}

#conferal
{
position:relative;
top:-2257px;
left:2600px;
}
#latestevents
{
position:relative;
top:-2664px;
left:3070px;
}
#contactwork
{
color:white;
text-align:center;
margin-left:auto;
margin-right:auto;

}
#cupsdiv
{
position:relative;
top:0px;
left:0px;

}
#roboticsdiv
{
position:relative;
top:-215px;
left:250px;
}
.content a
{
color:white;
}
#eventbox #span
{
BACKGROUND-COLOR:WHITE;
opacity:0.7;
height:200px;
width:210px;
font-size:18px;
color:black;
font-weight:bold;
text-align:center;
}
#iniaboutus
{
border-bottom:1px solid white;
font-size:20px;
padding:5px;
text-align:center;
}
#spon-button
{
display:block;
width:auto;
padding:5px;
height:25px;
cursor:pointer;
list-style:none;
float:right;
font-size:24px;
background:url(../img/bg.png);
background-size:cover;
margin-top:-40px;
border-radius:5px;
margin-right:200px;
}
#spon-button:hover
{
background-color:black;
}
#detailaboutusini
{
padding:10px;

}
#boxofini
{
width:500px;
height:400px;
background:url(../img/bg.png);
background-size:cover;
margin-top:-420px;
margin-left:470px;
}
#justifyme
{
text-align:justify;
}
#eventbox img
{
margin:5px;
}
#sponserbox img
{
margin:5px;
}
#sponserbox hr
{

margin:0px;
padding:0px;
COLOR:#000;
}
#sponserbox table
{
margin-bottom:0px;
}
#logo
{
margin-top:-60px;
margin-left:-40px;
}
.contactpage td
{
background:url(../img/bg.png);
background-size:cover;
color:white;

}
#cimg
{
height:130px;
width:200px;
float:left;
}
#cdetail
{
margin-left:10px;
height:130px;
width:260px;
float:left;
overflow:hidden;
}
/***************************************************************************
************************SPONSERS CSS ENDSSSSS*****************************
***************************************************************************/


/***************************************************************************
************************HOSPITALITY CSS STARTSSS*****************************
***************************************************************************/

#hospitalitycontainer
{
width:1000px;
height:600px;
padding-right:10px;
padding-top:3px;
padding-left:10px;
text-align:center;
border-radius:5px;
font-size:18px;
color:black;

}
#hospitalitybox b
{
font-size:29px;
}
#hospitalitybox
{
width:1000px;
height:530px;
overflow:auto;
text-align:left;
}
#hospitalitybox P
{
TEXT-ALIGN:JUSTIFY;
}
{

#hospitalitybox img
{
margin:5px;
}
#hospitalitybox hr
{
margin:0px;
padding:0px;
}


/***************************************************************************
************************HOSPITALITY CSS ENDSSSSS*****************************
***************************************************************************/
